@use "variables" as var;

@mixin button-orange {
    height: 2rem;
    width: 6rem;
    background: inherit;
    border-radius: var.$small-radius;
    color: var.$orange;
    border: var.$border-orange;
}

@mixin btn-orange--hover {
    cursor: pointer;
    background: var.$orange;
    color: var.$background_dark;
}

@mixin button-red {
    height: 2rem;
    width: 6rem;
    background: inherit;
    border-radius: var.$small-radius;
    color: var.$red;
    border: var.$border-red;
}

@mixin btn-red--hover {
    cursor: pointer;
    background: var.$red;
    color: var.$background_dark;
}

@mixin button-green {
    height: 2rem;
    width: 6rem;
    background: inherit;
    border-radius: var.$small-radius;
    color: var.$green;
    border: var.$border-green;
}

@mixin btn-green--hover {
    cursor: pointer;
    background: var.$green;
    color: var.$background_dark;
}

@mixin button-blue {
    height: 2rem;
    width: 6rem;
    background: inherit;
    border-radius: var.$small-radius;
    color: var.$blue;
    border: var.$border-blue;
}

@mixin btn-blue--hover {
    cursor: pointer;
    background: var.$blue;
    color: var.$background_dark;
}



/*@mixin btn--disabled {
    background: var.$background_dark;
    color: grey;
    border: 1px solid grey;
}*/




