@use "variables";

@mixin button {
    height: 2rem;
    width: 6rem;
    background: $background_dark;
    border-radius: $border-radius;
    color: $orange;
    border: $border;
    margin: 1rem 0;
}


