$background_dark: rgb(30, 33, 41);
$background_header: rgb(11, 14, 19);

$green: rgb(94, 122, 85);
$blue: rgb(85, 102, 122);
$orange: rgb(161, 109, 78);
$red: rgb(175, 57, 57);
$dark: rgb(11, 14, 19);


$border-orange: 1px solid $orange;
$border-green: 1px solid $green;
$border-blue: 1px solid $blue;
$border-red: 1px solid $red;

$small-radius: 5px;
$big-radius: 10px;
$record-radius: 50%;

