@use '_variables' as var;

header {
    height: 4rem;
    background: var.$background_header;
}
nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: grey;
    text-indent: 1rem;
}

