@use '_variables' as var;
@use '_mixins';

  
.form-wrapper {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;

    padding: 0.5rem;
    background-color: var.$background_dark;
    border-radius: var.$big-radius;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    border: var.$border-green;
    border-radius: var.$big-radius;
}