@use '_variables' as var;
@use '_mixins';

  
.form-wrapper {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;

    padding: 0.5rem;
    background-color: var.$background_dark;
    border-radius: var.$big-radius;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 93%;
    border: var.$border-green;
    border-radius: var.$big-radius;
    padding: 1rem;
}

form .form-item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    margin: 1rem;
    overflow-y: auto;
    overflow-x:hidden;
    border-bottom: var.$border-green;
    align-self: center;
}

.form-item {
    margin: 0 15%;
}

label {
    text-align:start;
    color: darkgrey;
    //font-weight: bolder;
}

.input {
    height: 2rem;
    width: 100%;
    padding: 0 1rem;
    background-color: var.$green;
    border: var.$border-green;
    border-radius: var.$small-radius;
    outline:none;
    color: var.$background_dark;
    font-weight: bolder;
}

.input:focus {
    //outline:none;
    background-color: var.$background_dark;
    
    color: var.$green;
    font-weight: bolder;
}