@use '_variables' as var;
@use '_mixins';

.record-view-container {
    display: flex;
    text-align: start;
    justify-content: center;
    max-width: 100%;
    padding: 4rem 0;
}

.flex--column {
    border: var.$border-green;
    border-radius: var.$big-radius;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 2rem;
}

.flex--row {
    display: flex;
    justify-content: space-around;
    border-bottom: var.$border-green;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

h1 {
    text-indent: 0;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-block-start: 0.5rem;
    margin-block-end: 0;
}

.tracks.div {
    padding-top: 1rem;
}

.track-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}